table {
  border-collapse: collapse;
  width: 100%;
}

td {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid lightgray;
}

thead {
  height: 40px;
  border: 1px solid lightgray;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: darkgray;
}

.selectedItem {
  background-color: brown;
  color: aqua;
}
.TableContainer {
  padding: 10px 0 0 0;
}
